

<section class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <%= simple_format(post.message) %>
    </div>
  <% end %>

  <%= link_to new_post_path, class: "button" do %>
    New post
  <% end %>
</section>
