/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #f2f3f7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Misc */

.alert {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 20px;
  width: min-content;
  white-space: nowrap;
}

.alert-danger {
  color: #ff7d7d;
  background-color: #ffebeb;
  border: 1px solid #f4e2eb;
  border-radius: 3px;
}

.alert-success {
  color: #29a55d;
  background-color: #bee7cf;
  border: 1px solid #b7ded1;
  border-radius: 3px;
}

/* Header */

header ul li,
header nav,
header ul,
header h1 {
  display: inline;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: #31498c;
  padding: 10px;
  color: #ffffff;
  margin-bottom: 40px;
}

header h1 {
  font-size: 18px;
  margin: 0;
}

header h1 a {
  color: #ffffff;
  text-decoration: none;
}

header nav li {
  color: #bac3d8;
}
header nav a {
  text-decoration: none;
  color: #bac3d8;
}

header nav ul li:not(:last-of-type) {
  margin-right: 10px;
}
/* Posts  */

.posts {
  width: 600px;
  margin: 0 auto;
  display: grid;
  row-gap: 15px;
  margin-top: 50px;
}

.post {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 2px 2px;
}

.post p:not(:last-of-type) {
  margin-bottom: 10px;
}

.post--actions {
  text-align: right;
}
.post--actions a {
  text-decoration: none;
  color: #c6c7d2;
  transition: color ease 0.5s;
  font-size: 14px;
}

.post--actions a:hover {
  color: #8d90a1;
}

.button {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #3d54a1;
  color: #ffffff;
  display: normal;
  border-radius: 3px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 2px 2px;
  max-width: min-content;
  white-space: nowrap;
  transition: background-color ease 0.5s;
}

.post-form-section {
  width: 400px;
  margin: 0 auto;
}

.post-form-section form {
  display: grid;
  grid-row-gap: 15px;
}

.post-form-section label {
  color: #41486e;
}

.post-form-section textarea {
  background-color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 3px;
  resize: none;
}

.button:hover {
  background-color: #32498d;
}

/* Devise Forms  */

.devise-form-section {
  width: 400px;
  margin: 0 auto;
}

.devise-form-section form {
  display: grid;
  grid-row-gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
  margin: 20px 0;
}

.field label,
.field input {
  width: 100%;
  display: inline-block;
}

.field label {
  margin-bottom: 10px;
  color: #41486e;
}

.field input {
  background-color: #eef0f4;
  border: none;
  padding: 10px;
  border-radius: 3px;
}

.field input[type='checkbox'],
.field label[for='user_remember_me'] {
  width: min-content;
  white-space: nowrap;
}

.devise-shared-links a {
  text-decoration: none;
  color: #9facc4;
}
